<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Лучшая в мире соцсеть</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <!--<div class="header">
            <span class="service-name">Лучшая в мире соцсеть</span>
        </div>
        <div class="column side-column left-column">aa</div>
        <div class="column" id="">a</div>
        <div class="column side-column right-column">aa</div>-->

        <form method="POST" action="http://localhost:8080/users/add">
            Ник: <input type="text" name="nick"> <br>
            Пароль: <input type="password" name="password"> <br>
            <input type="submit" value="Регистрация">
        </form>
    </body>
</html>